@import url("../../general.css");

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  background: white;
  border-radius: 10px;
  width: 913px; 
  height: 766px;  
  padding: 40px 50px 60px 50px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  top: 118px;
  display: flex;
  flex-direction: column;
  gap: 37px; 
}

.closeXBtn {
  width: 40px;
  height: 40px;
  background: #a5a5a5;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.closeXBtn img {
  width: 20px;
  height: 20px;
}

h2 {
  width: 100%;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  color: var(--grayShades-color);
  margin: 0;
  line-height: 100%;
  letter-spacing: 0%;
}

form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.inputContainer {
  position: relative;
  gap: 10px;
  width: 100%;
  margin: 20px 0;
}

.inputRow {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.singleInputCon {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 385px;
}
label {
  font-size: 14px;
  color: var(--grayShades-color);
}
input, select {
  padding: 12px;
  border: 1px solid var(--gray-color);
  border-radius: 10px;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  box-sizing: border-box;
}
select {
  margin-top: 10px;
  width: 50%;
  display: block;
  outline: none;
  cursor: pointer;
}

.requairements {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 12px;
  color: var(--grayShades-color);
}

.avatarContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.avatarContainer input {
  cursor:pointer;
  padding: 10px;
  border: 2px dashed  var(--gray-color);
  border-radius: 10px;
  font-size: 16px;
  height: 120px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.buttonsContainer {
  display: flex;
  justify-content: end;
  gap: 20px;
}



button.cancelButton {
  border: 1px solid var(--primary-color);
  background-color: inherit;
  color: var(--primary-color);
  transition: 0.2s;
}
button.cancelButton:hover {
  background-color: var(--primary-color);
  color: white;
}

button.addEmployeeBtn {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  transition: 0.2s;
}
button.addEmployeeBtn:hover {
  background-color: inherit;
  color: var(--primary-color);
}

select {
  padding: 12px;
  border: 1px solid var(--gray-color);
  border-radius: 10px;
  background-color: white;
  font-size: 16px;
}

select option {
  font-size: 16px;
  color: var(--black-color);
}
