@import url(../../general.css);
.CreateTaskContainer {
  display: flex;
  padding: 30px 120px;
  flex-direction: column;
}
.title {
  text-align: start;
  font-weight: 600;
  font-size: 34px;
  color: var(--grayShades-color);
  margin-bottom: 20px;
}
.body {
  color: red;
  padding: 40px 0 0 40px;
}